.wordInput {
  width: var(--main-width);
  max-width: var(--main-width);
  height: var(--current-word-display-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--current-word-display-height) / 3);
  font-weight: bold;
  text-transform: uppercase;
}

.wordLegend {
  display: flex;
  transition: all 300ms ease;
}

.wordDisplayLetter {
  animation: drop-in 60ms ease;
}

.valid {  
  color: var(--valid-color);
}

.duplicate {
  color: var(--duplicate-color);
}

.invalid {  
  color: var(--invalid-color);
}

@keyframes drop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}