.wordInput {
  align-self: stretch;
  height: var(--current-word-display-height);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--current-word-display-height) / 2);
  font-weight: bold;
  text-transform: uppercase;
}

.wordLegend {
  display: flex;
  gap: calc(var(--current-word-display-height) / 48);
}

.wordDisplayLetter {
  animation: drop-in 40ms ease;
}

.valid {
  color: #81fe81;
}

.duplicate {
  color: #acc05e;
}

.invalid {
  color: #ffffffdd;
}

@keyframes drop-in {
  from {
    opacity: 0;
    scale: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}