.GameScreen {
  display: grid !important;
  grid-template-rows: var(--header-height) auto 1fr;
  justify-items: center;
  background-color: var(--game-background-color);
  z-index: 0;
  padding-bottom: 0 !important;
  overflow: hidden;
}