.GameScreen {
  display: grid !important;
  grid-template-rows: var(--header-height) auto 1fr;
  justify-items: center;
  background-color: var(--game-background-color);
  z-index: 0;
  padding-bottom: 0 !important;
}

.GameScreen > .gameButtons {
  align-self: start;
  align-items: end;
  justify-content: center;
  gap: 0.1rem;
  margin-top: var(--board-outline-width)
}

.gameButtons > button:nth-child(2) {
  width: calc(var(--footer-height) * 1.2);
  height: calc(var(--footer-height) * 1.2);
  margin-bottom: calc(var(--footer-height) / 8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}