.GameSetupModal {
  height: auto !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  padding: 2rem !important;
  gap: 1rem;
}

.challengeHeader {
  display: grid;
  grid-template-columns: max-content 5rem;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: start;
  justify-content: center;
  gap: 0 1rem;
  height: 5rem;
  margin: 0 !important;
}

.challengeHeader>img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.challengeHeader>div:first-child {
  font-size: 1.25rem;
  font-weight: normal;
}

.challengeHeader .opponentName {
  color: #8f8;
  grid-row-start: 2;
}

.puzzleOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top;
  scale: 1 1;
  transition: all 100ms ease;
  gap: 1.5rem;
  max-width: 100%;
}

.puzzleOptions.hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.puzzleOptions>select {
  width: 8rem;
  align-self: center;
}

.puzzleOptions input[type="range"] {
  width: 100%;
}

.puzzleOptions label {
  display: flex;
  place-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
}

.puzzleOptions label>span {
  flex-grow: 1;
}

.puzzleOptions input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
}

.themeSelectButton {
  width: 100%;
  background-color: rgba(165, 42, 42, 0.559);
}

.puzzleOptions>.puzzleSelectToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  align-self: stretch;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: rgba(128, 128, 128, 0.45);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: var(--text-stroke);
  transition: background-color 200ms ease;
  outline: 0.1rem solid #ffffff99;
  padding: 0.5rem 0;
}

.toggleButton.selected {
  background-color: rgb(183, 154, 42);
}

.toggleButton:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.toggleButton:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.puzzleOptions>.puzzleSelectRow,
.puzzleOptions>.timeSelectRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.puzzleOptions>.puzzleSelectRow {
  height: 3rem;
  justify-content: center;
}

.puzzleOptions>.timeSelectRow {
  display: grid;
  grid-template-columns: max-content max-content;
  align-self: center;
  gap: 0;
}

.lowerButtons {
  justify-self: end;
}

.lowerButtons>.startButton {
  font-size: 1.5rem;
  padding: 0;
  height: 4rem;
  text-shadow: var(--text-stroke);
  font-weight: bold;
}

.lowerButtons button:last-child {
  align-self: center;
}

.lowerButtons button:disabled {
  opacity: 0.5;
  background-color: gray;
}

.LoadingModal {
  height: auto !important;
  background-color: rgb(152, 151, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 2rem;
  padding: 2rem;
}

.LoadingModal>h1 {
  font-size: 2rem;
}

.LoadingModal>.resultsBody {
  font-size: 1.25rem;
  text-shadow: var(--text-stroke);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.LoadingModal button {
  font-size: 1.5rem;
  padding: 1rem;
  width: 12rem;
}