.GameSetupModal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem
  /* justify-content: space-between; */
}

.GameSetupModal > h1 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzleOptions {
  display: flex;
  flex-direction: column;
  /* margin-top: 1rem; */
  transform-origin: top;
  scale: 1 1;
  transition: all 100ms ease;
  /* gap: 0.5rem; */
  max-width: 100%;
}

.puzzleOptions.hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.puzzleOptions>select {
  width: 8rem;
  align-self: center;
}

.puzzleOptions input[type="range"] {
  width: 100%;
}

.puzzleOptions label {
  display: flex;
  place-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
}

.puzzleOptions label>span {
  flex-grow: 1;
}

.puzzleOptions input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
}

.sizeSelections {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sizeSelections>span {
  padding: 0.25rem;
  border: 0.5rem solid transparent;
  border-radius: 0.25rem;
}

.themeSelectButton {
  width: 100%;
  min-height: 3.5rem;
  background-color: rgba(165, 42, 42, 0.559);
}

.puzzleOptions>.puzzleSelectToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.toggleButton {
  background-color: rgba(128, 128, 128, 0.45);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: var(--text-stroke);
  transition: background-color 200ms ease;
  outline: 0.1rem solid #ffffff99;
}

.toggleButton.selected {
  background-color: rgb(183, 154, 42);
}

.toggleButton:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.toggleButton:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.puzzleOptions>.puzzleSelectRow,
.puzzleOptions>.timeSelectRow {
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.puzzleOptions>.puzzleSelectRow {
  padding: 1rem 0;
  gap: 0;
  height: 5rem;
}

.puzzleOptions>.timeSelectRow {
  margin-top: 0.5rem;
}

.puzzleOptions>.puzzleSelectRow button>p {
  margin-top: 0.2rem;
  font-size: 0.75rem;
}

.GameSetupModal .lowerButtons > .startButton {
  font-size: 1.5rem;
  padding: 0;
  height: 4rem;
}

.lowerButtons button:disabled {
  opacity: 0.5;
  background-color: gray;
}

.LoadingModal {
  height: auto !important;
  background-color: rgb(152, 151, 55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 2rem;
  padding: 2rem;
}

.LoadingModal>h1 {
  font-size: 2rem;
}

.LoadingModal>.resultsBody {
  font-size: 1.25rem;
  text-shadow: var(--text-stroke);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.LoadingModal button {
  font-size: 1.5rem;
  padding: 1rem;
  width: 12rem;
}

