.board-cell {
  --face-size: 95%;
  scale: var(--cube-scale);
  position: relative;
  aspect-ratio: 1;
  background-color: var(--cube-color, #e0d0c0);
  border-radius: var(--cube-roundness, 0.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--cube-text-color, #333);
  outline: 0.2rem solid transparent;
  opacity: 0.9;
  box-shadow:
  0 0 0.25rem 0.1rem #000000aa,
  inset -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.2),
  inset 0.2rem 0.2rem 0.5rem rgba(255, 255, 255, 0.2);
  transition: all 200ms ease;
}

.board-cell::before {
  content: '';
  position: absolute;
  width: var(--face-size);
  height: var(--face-size);
  background-color: var(--cube-color, #f5e5d5);
  border-radius: 50%;
  box-shadow:
    0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.board-cell p {
  position: relative;
  z-index: 2;
  text-transform: capitalize;
}

.board-cell.touched {
  outline-color: var(--invalid-color);
  opacity: 1;
}

.board-cell.touched.valid {
  outline-color: var(--valid-color);
}

.board-cell.touched.duplicate {
  outline-color: var(--duplicate-color);
}
/* 
.board-cell.touched::before {
  background-color: rgba(142, 102, 102, 0.407);
}

.board-cell.touched.valid::before {
  background-color: rgba(99, 236, 99, 0.6);
}

.board-cell.touched.duplicate::before {
  background-color: rgba(186, 187, 137, 0.6);
} */

@media (hover: hover) {
  .board-cell:hover::before {
    box-shadow:
      inset 0 0 0.5rem rgba(0, 0, 0, 0.1),
      0 0 0.5rem rgba(0, 0, 0, 0.2);
  }
}