.gameStatusDisplay {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: var(--header-height) auto 1fr auto var(--header-height);
  grid-template-rows: 1fr;;
  place-items: center;
}

.gameStatsArea {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: max-content;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 5;
  /* flex-direction: column; */
}

.totalWordTally {
  display: flex;
  gap: 0.25rem;
}

.labeledCounter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem 0.5rem;
}

.gameStatsArea .labeledCounter {
  font-size: 1rem;
}

.playerArea {
  position: relative;
}

.playerArea, .opponentArea {
  /* grid-row-end: 3; */
}

.opponentArea {
  /* grid-column-start: 4; */
  justify-self: end;
}

.playerArea > img {
  border-radius: 0 50% 50% 50%; 
  width: var(--header-height);
  height: var(--header-height);
  border: 0.1rem solid #ffffff55;
  /* outline: 0.5rem solid var(--footer-color); */
  opacity: 1;
  animation: slide-in-left 300ms ease forwards;
}

.opponentArea>img {
  border-radius: 50% 0 50% 50%;
  animation-name: slide-in-right;
}

.playerArea > .userLabel {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: calc(var(--header-height) / -6);
  font-size: 1.1rem;
  font-weight: bold;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: var(--text-stroke);
}

.timeCounter, .scoreArea {
  position: relative;
  width: min-content;
  height: min-content;
  justify-content: center;
  align-self:  start;
  font-size: 0.8rem;
  font-weight: bold;
  gap: 0;
  border-radius: calc(var(--header-height) / 16);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: translateY(calc(var(--header-height) * -1.2));
  animation: drop-in 300ms ease forwards;
  animation-delay: 300ms;
  z-index: 1;
}

.timeCounter {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: black;
  padding: 0.325rem 0.5rem;
}

.scoreArea {
  animation-delay: 0ms;
  margin: 0 0.5rem;
}

.gameStatusDisplay button {
  display: flex;
  grid-column-start: 5;
  width: min-content;
  margin-right: 0.5rem;  
}

.scoreArea > .labeledCounter {
  gap: 0;
}

@keyframes drop-in {
  from {
    transform: translateY(calc(var(--header-height) * -1));
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-left {
  from {
    transform: translate(calc(var(--header-height) * -1), calc(var(--header-height) * -1));
  }
  to {
    transform: translate(0);
  }
}
@keyframes slide-in-right {
  from {
    transform: translate(var(--header-height), calc(var(--header-height) * -1));
  }
  to {
    transform: translate(0);
  }
}