.StartMatchModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: 0.5rem solid rgb(40, 244, 40);
}

.StartMatchModal .responseButtons {
  padding: 1rem 2rem;
}

.responseButtons > button:first-child {
  font-size: 1.5rem;
}