.AttackButtons {
  align-self: start;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
  margin-top: calc(var(--board-outline-width) * 1.5)
}

.AttackButtons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0.15rem solid #ffffff44;
  pointer-events: none;
  box-shadow: inset 0 0 calc(var(--footer-height) / 2.5) #000000aa;
  overflow: hidden;
}

.AttackButtons > button.available {
  outline: 0.5rem solid green;
  color: rgb(124, 208, 124);
  font-size: 2rem;
  background-color: rgb(198, 138, 18);
  pointer-events: all;
  box-shadow: 
    inset 0 0 calc(var(--footer-height) / 2.5) #000000aa
    0 0 0.5rem #000000aa
  ;
  animation: throb 500ms ease-in-out alternate infinite;
}

.AttackButtons > .centerButton {
  width: calc(var(--footer-height) * 1.2);
  height: calc(var(--footer-height) * 1.2);
  background-color: rgb(60, 60, 31);
  transition: transform 300ms ease, opacity 300ms ease;
}

.centerButton.disabled {
  opacity :0.5;
  transform: scale(0.8);
  outline: none;
  box-shadow: none;
}

.AttackButtons > button > .pointSupply {
  content: '';
  width: inherit;
  height: inherit;
  background-color: rgb(223, 201, 33);
  box-shadow: inherit;
  transform-origin: bottom;
  transform: scaleY(0.1);
  transition: transform 300ms ease;
}

.AttackButtons>.centerButton::after {
  position: absolute;
  content: 'SEND BEES';
  font-size: calc(var(--footer-height) * 0.25);
  font-weight: bold;
  text-shadow: var(--text-stroke);
}

@keyframes throb {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1.05);
  }
}