.OptionsScreen {
  background-color: var(--options-screen-bg-color);
  justify-content: flex-start;
  align-items: stretch;
  /* gap: 1rem; */
}

.OptionsScreen h2 {
  padding: 0.5rem 1rem;
  background-color: #00000044;
}