.CreateScreen {
  background-color: var(--create-screen-bg-color);
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem 0;
  overflow-y: auto;
}

.CreateScreen button.start {
  background-color: green;
  border: 0.1rem solid #ffffff99;
  margin-top: 1rem;
}

.creationArea,
.puzzleListArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  text-align: center;
  padding: 0;
}

.puzzleOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
}

.puzzleOptions label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  line-height: 1.2rem;
}

.puzzleOptions input {
  padding: 0.25rem 0;
  text-align: center;
}

.puzzleOptions select {
  text-align: right;
}

.mainSettings,
.optionalSettings {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.mainSettings {
  gap: 2rem 0;
  padding-top: 1rem;
}

.mainSettings span {
  width: min-content;
}

.mainSettings input {
  font-size: 1.5rem;
  padding: 0.5rem 0.25rem;
}

.dimensionsInputRow {
  display: grid;
  grid-template-rows: 3rem 3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  transition: opacity 100ms ease;
}

.dimensionsInputRow>input[type='range'] {
  grid-column-end: span 2;
  width: 90%;
}

.optionalRow {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
  background-color: #00000033;
  border-radius: 0.325rem;
}

.puzzleOptions input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
}

.requiredInputRow {
  display: flex;
}

.optionalInputRow {
  min-height: 5rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2.5rem 1fr;
  grid-template-columns: auto auto;
  font-size: 1rem;
  transition: opacity 100ms ease;
  justify-self: stretch;
}

.optionalInputRow.active {
  opacity: 1;
}

.optionalInputRow.inactive {
  opacity: 0.5;
}

.optionalInputRow > h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  justify-self: center;
}

.puzzleOptions h2 {
  width: 100%;
  text-align: center;
  margin: 0;
}

.optionalInputRow > label {
  grid-row-start: 2;
}

.puzzleList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  transition: all 300ms ease;
  gap: 0.5rem;
}

.puzzleListing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #111;
  background-color: #a9a78f;
  border-radius: 0.25rem;
}