.CreateScreen {
  background-color: var(--create-screen-bg-color);
  align-items: stretch;
  justify-content: flex-start;
  padding: 1.5rem 0;
  overflow-y: auto;
}

.CreateScreen button.start {
  background-color: green;
  border: 0.1rem solid #ffffff99;
  flex-grow: 1;
}

.creationArea,
.puzzleListArea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  text-align: center;
  padding: 0;
}

.puzzleOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90vw;
}

.puzzleOptions label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  line-height: 1.2rem;
}

.puzzleOptions input {
  padding: 0.25rem 0;
  text-align: center;
}

.puzzleOptions select {
  text-align: right;
}

.mainSettings,
.optionalSettings {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.mainSettings {
  gap: 2rem 0;
  padding-top: 1rem;
  outline: 0.1rem solid #ffffff55;
  border-radius: 0.25rem;
}

.mainSettings span {
  width: min-content;
}

.mainSettings input {
  font-size: 1.5rem;
  padding: 0.5rem 0.25rem;
}

.dimensionsInputRow {
  display: grid;
  grid-template-rows: 3rem 3rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  transition: opacity 100ms ease;
}

input[type='range'] {
  grid-column-end: span 2;
  width: 90%;
}

.filterArea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.optionalRow {
  display: grid;
  grid-template-columns: 3.5rem 1fr;
  justify-items: center;
  align-items: center;
  flex-grow: 1;
  background-color: #00000022;
  border-radius: 0.5rem;
}

.puzzleOptions input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
}

.sliderDisplayRow {
  position: relative;
  display: flex;
  height: 3rem;
  gap: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 4;
}

.sliderDisplayRow>span {
  position: absolute;
  top: 50%;
  right: -0.5rem;
  translate: 0 -50%;
}

.inactive input {
  pointer-events: none;
}

input.sliderValueDisplay {
  pointer-events: none;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  width: 2rem;
}

.requiredInputRow {
  display: flex;
}

.optionalInputRow {
  min-height: 5rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 2.5rem 1fr;
  grid-template-columns: auto auto;
  font-size: 1rem;
  transition: opacity 100ms ease;
  justify-self: stretch;
}

.optionalInputRow.active {
  opacity: 1;
}

.optionalInputRow.inactive {
  opacity: 0.5;
}

.optionalRow > input {
  align-self: flex-start;
  margin-top: 1rem;
}

.tripleInput {
  display: flex;
  flex-direction: column;
}

.tripleInput input {
  width: 100%;
  height: 2.5rem;
  padding: 0;
}

.tripleInput select {
  height: 100%;
}

.gridBody {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem 2rem;
  grid-template-rows: auto;
  justify-items: space-between;
  align-items: center;
  gap: 0.5rem;
}

.gridBody>div,.optionalRow select {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
}

.gridBody button {
  height: 100%;
  width: 95%;
}

.optionalInputRow > h4 {
  grid-column-start: 1;
  grid-column-end: span all;
  font-size: 1.1rem;
  justify-self: stretch;
}

.puzzleOptions h2 {
  width: 100%;
  text-align: center;
  margin: 0;
}

.optionalInputRow>label {
  grid-row-start: 2;
}

.inactive button {
  pointer-events: none;
}

.submitArea {
  align-self: stretch;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  gap: 1rem;
}

.submitArea>label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.submitArea>label>input {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 5rem;
}