.Footer {
  height: var(--footer-height);
  min-height: var(--footer-height);
  display: grid;
  /* justify-content: center; */
  /* place-items: center; */
  justify-items: center;
  align-items: center;
  grid-template-columns: calc(var(--menu-button-size) + 2rem) 1fr calc(var(--menu-button-size) + 2rem);
  grid-template-rows: var(--footer-height);
  z-index: 2;
}

.Footer > button {
  width: var(--menu-button-size);
  height: var(--menu-button-size);
  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
}

.Footer > button > img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

button.back, button.close {
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.543);
  outline: 2px solid #ddd;
}

button.options {
  border-radius: 0;
  background-color: transparent;
  outline: 0 !important;
}