.Footer {
  width: 100%;
  height: var(--footer-height);
  min-height: var(--footer-height);
  background-color: #a0ff8622;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: var(--footer-height) 1fr var(--footer-height);
  grid-template-rows: 1fr;
}

.Footer > button {
  background: red;
  height: calc(var(--footer-height) / 1.5);
  width: calc(var(--footer-height) / 1.5);
  padding: 0;
}