.gameBoard {
  width: var(--game-board-size);
  aspect-ratio: var(--puzzle-width) / var(--puzzle-height);
  background-color: #ffffffaa;
  border-radius: 0.25rem;
  padding: calc(1rem / ((var(--puzzle-width) * var(--puzzle-height)) / 6));
  display: grid;
  grid-template-columns: repeat(var(--puzzle-width), 1fr);
  grid-template-rows: repeat(var(--puzzle-height), 1fr);
  place-items: stretch;
  place-content: center;
  grid-gap: calc(
    1rem / ((var(--puzzle-width) * var(--puzzle-height)) /6)
  );
}

.wordInput {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 1rem;
}

.valid {
  color: rgb(129, 254, 129);
}

.invalid {
  color: #ffffffdd;
}