.gameStatusDisplay {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.gameStatsArea, 
.timeScoreArea {
  display: flex;
  flex-direction: column;
}

.labeledCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem 0.5rem;
}

.gameStatsArea > .labeledCounter {
  flex-direction: column;
}