.Logo {
  height: 1.5rem;
  display: flex;
  gap: 0.25rem;
}

.tile {
  font-size: 1rem;
  background-color: var(--cube-color);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-weight: bold;
  color: var(--cube-text-color);
  border-radius: var(--cube-roundness);
}