.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: opacity 200ms ease;
}

.modal {
  background: rgb(65, 65, 86);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.4);
  position: relative;
  width: calc(100vw - 2rem);
  height: calc(var(--actual-height) - 2rem);
  overflow-y: auto;
  text-align: center;
  transition: opacity 200ms ease, transform 200ms ease;
  /* animation: zoom 200ms ease forwards; */
}

.modal-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.showing {
  opacity: 1;
  pointer-events: all;
}

.modal-overlay.hidden > .modal {
  transform: scale(0.9);
  opacity: 0;
}

.modal-overlay.showing > .modal {
  transform: scale(1);
  opacity: 1;
}

.modal-overlay.hidden > .modal {
  pointer-events: none;  
}

.modal-overlay.showing > .modal {
  pointer-events: all;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal>button {
  position: fixed;
  top: 1.75rem;
  right: 2rem;
  z-index: 4;
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}