.numeralDisplay {
  --numeral-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: calc(var(--numeral-height) / 8);
  border-radius: 0.25rem;
}

.numeralDisplay.throbbing {
  animation: throb 250ms ease-in-out alternate infinite;
}

.numeralDigit {
  background-image: url('/assets/numerals.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: 0;
  translate: 0 calc(var(--numeral-height) / -16);
  width: calc(var(--numeral-height) / 2);
  height: var(--numeral-height);
  transition: background-position-y 300ms ease-out;
  z-index: 2;
}

.numeralDigit.white {
  filter: invert();
}

.numeralDigit.green {
  filter: invert(1) sepia(1) saturate(9) hue-rotate(40deg);
}

.numeralDigit.yellow {
  filter: invert(1) sepia(1) saturate(8) hue-rotate(0deg);
}
.numeralDigit.red {
  filter: invert(1) sepia(1) saturate(24) hue-rotate(250deg);
}

@keyframes throb {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}