.numeralDisplay {
  --numeral-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: calc(var(--numeral-height) / 8);
  border-radius: 0.25rem;
  /* padding: calc(var(--numeral-height) / 10) calc(var(--numeral-height) / 6); */
  /* padding-bottom: calc(var(--numeral-height) / 6); */
  border: calc(var(--numeral-height) / 8) solid black;
  background-color: black;
}

.numeralDigit {
  box-sizing: content-box;
  background-image: url('/assets/slimnumerals.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-x: center;
  background-position-y: 0;
  translate: 0 calc(var(--numeral-height) / -16);
  width: calc(var(--numeral-height) / 2);
  height: var(--numeral-height);
  filter: invert();
  transition: background-position-y 300ms ease-out;
  z-index: 2;
}

.scoreNumber.black {
  filter: none;
}