.PuzzleIcon {
  display: grid;
  position: relative;
  gap: var(--cube-gap);
  padding: var(--game-board-padding);
  color: var(--cube-text-color);
  background-color: var(--game-board-background-color);
}

.PuzzleIcon > div {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
  border-radius: var(--cube-roundness);
  overflow: hidden;
}