.PuzzleIcon {
  display: grid;
  position: relative;
  gap: 3%;
  padding: 3%;
  color: var(--cube-text-color);
  background-color: var(--game-board-background-color);
  border-radius: calc(var(--cube-roundness) / 5);
  box-shadow: 0 0 0.75rem #00000044;
}