.SelectScreen {
  height: 100%;
  background-color: var(--select-screen-bg-color);
  gap: 1rem;
}

.sizeSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.sizeSelections {
  display: flex;
  align-items: center;
}

.sizeSelections > span {
  padding: 0.25rem;
  border: 0.5rem solid transparent;
  border-radius: 0.25rem;
}

.SelectScreen form {
  align-items: stretch;
}

.SelectScreen button {
  padding: 1rem;
  font-size: 1.5rem;
}

.SelectScreen button.start {
  background-color: var(--start-color);  
}

.puzzleOptions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  transform-origin: top;
  scale: 1 1;
  transition: all 100ms ease;
  gap: 1rem;
}

.puzzleOptions.hidden {
  opacity: 0;
  height: 0;
  pointer-events: none;
}

.puzzleOptions > select {
  width: 8rem;
  align-self: center;
}
.puzzleOptions input[type="range"] {
  width: 100%;
}

.puzzleOptions label {
  display: flex;
  place-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  margin: 0.5rem;
}

.puzzleOptions label>span {
  flex-grow: 1;
}

.puzzleOptions input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 6rem;
  text-align: center;
}

.puzzleOptions > .puzzleSelectRow,
.puzzleOptions > .timeSelectRow {
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}

.puzzleOptions > .puzzleSelectRow {
  display: grid;
}

.SelectScreen button:not(.start) {
  font-size: 1rem;
}