.LobbyScreen {
  background-color: var(--lobby-screen-bg-color);
  justify-content: flex-start;
}

.chatWindow {
  width: 100vw;
  height: 35dvh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.chatMessages {
  flex-grow: 1;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatMessage {
  padding: 0.5rem 0.75rem;
  background-color: #ffffff33;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  gap: 0.5rem 0;
  margin-right: 2rem;
  animation: birth-from-left 200ms ease;
}

.chatMessage > img {  
  margin-right: 0.75rem;
  grid-row-end: span 2;
}

.chatMessage.self {
  animation: birth-from-right 200ms ease;
  margin-right: unset;
  margin-left: 2rem;
  background-color: #ffffff15;
}

.chatAuthorLabel {
  font-weight: bold;
}

.chatTimestamp {
  font-size: 0.625rem;
  opacity: 0.65;
  grid-column-start: 2;
  justify-self: end;
}

form {
  width: 100%;
}

.chatInputArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.25rem;
}

.chatInputArea > input {
  flex-grow: 1;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.chatInputArea>button {
  align-self: stretch;
  border-radius: 0.25rem;
}

@keyframes birth-from-left {
  0% {
    opacity: 0;
    translate: -30% 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes birth-from-right {
  0% {
    opacity: 0;
    translate: 30% 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}