.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
  z-index: 100;
  padding: 0.125rem;
}

.Footer:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: var(--bottom-margin);
  z-index: -1;
}

.Footer > button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease;
}

.Footer > button.showing {
  opacity: 1;
  pointer-events: all;
}

.Footer > .profileButton {
  position: absolute;
  right: .125rem;
}

.Footer > .profileButton > .notificationBubble {
  position: absolute;
  top: -15%;
  left: -15%;
  width: calc(var(--footer-height) / 2.5);
  height: calc(var(--footer-height) / 2.5);
  border-radius: 50%;
  background-color: red;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

}

button.back,
button.x-close {
  background-color: var(--danger-color);
}

button.options > img {
  width: 80%;
  height: 80%;
}

button.options {
  background-color: #333;
}