.gameBoard {
  width: var(--game-board-size);
  height: min-content;
  min-height: var(--game-board-size);
  border-radius: 0.25rem;
  display: grid;
  place-items: stretch;
  place-content: center;
  background-color: var(--game-board-background-color);
  padding: var(--game-board-padding) !important;
  /* gap: var(--cube-gap) !important; */
  outline: 0.05rem solid #00000066;
  box-shadow: 0 0 0.75rem #00000044;
  scale: 0.5;
  opacity: 0;
  transition: all 600ms ease;
  transition-delay: 200ms;
  z-index: 0;
}

.gameBoard.showing {
  scale: 1;
  opacity: 1;
}

.gameArea {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  justify-content: center;
  /* flex-grow: 1; */
}

.boardContainer {
  flex-grow: 1;
}