#root {
  width: 100%;
  height: var(--actual-height);
  max-height: var(--actual-height);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


/* .screen-container {
  position: relative;
  width: 100vw;
  height: 100%;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition:
    opacity 200ms ease,
    scale 200ms ease;
}

main.hidden {
  opacity: 0;
  pointer-events: none;
} */

.screen-container {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  overflow: hidden;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  overflow-y: auto;
  transition: opacity 200ms ease;
}

main.hidden {
  opacity: 0;
  pointer-events: none;
}

main h1 {
  padding: 0.5rem 0;
}